{% extends "portfolios/base.html" %}
{% block title %}Place Order – {{ portfolio.name }}{% endblock %}

{% block content %}
  <div class="space-y-4">
    <h1 class="text-3xl font-semibold">Place Order for “{{ portfolio.name }}”</h1>
    <form method="post" novalidate class="space-y-4">
      {% csrf_token %}
      <div class="space-y-3">
        {{ form.as_p }}
      </div>

      <div class="flex items-center gap-3">
        <button class="btn-primary" type="submit">Submit Order</button>
        <a class="btn-secondary" href="{% url 'portfolios:portfolio-detail' %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
